@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: "Poppins", sans-serif;
}

.tab-buttons {
  margin-top: 40px;
  border-bottom: 0px !important;
}

.subtab-btn:focus {
  border-radius: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;
  border-bottom: 3px solid orange !important;
  color: black !important;
}

.subtab-btn {
    border-radius: 0px !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
    color: black !important;
}

.outline-remove:focus {
  outline: none !important;
  box-shadow: none !important;
}

.borderradius-remove{
  border-radius: 0px !important;
}

.addshadow{
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.mainmemberli{
  margin-top: 30px;
}
.memberli{
  background-color: rgba(221, 221, 221, 0.756);
  padding: 12px;
  border-radius: 50px;
}